* {
Font-family:"roboto","Sans Serif";
box-sizing:border-box;
}

body {
    display:flex;
    flex-direction:column;
}

/*Header Section*/
.header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#1F2937;
    padding:0px 100px;
    margin-bottom:-20px;
}
    .nav-links{
        display:flex;
        gap:15px;
    }
    .logo {
        font-size:24px;
        color:#f9faf8;
    }

    a {
        size:18px;
        color:#E5E7EB;
        text-decoration:none;
    }
/*Header Section*/

/*First Section*/
.section-one{
    display:flex;
    flex-direction:row;
    background:#1F2937;
    align-items:center;
    gap:30px;
    padding:100px 100px
    }
    .left-content{
 
        justify-content:center;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        flex:1;
        gap:05px
    }
    .left-content > .hero-subtext {
        color:rgba(255, 255, 255, 0.643);
        margin-top:-01px
    }
    /*Placeholder image box*/
    .placeholder{
        display:flex;
        flex:1;
        background:gray;
        height:200px;
        justify-content:center;
        align-items:center;
        color:white;
    }
    .hero{
        font-size:48px;
        color:white;
        font-weight:900;
        margin-bottom:-05px;
        margin-top:-05px;
    }
    .button-one {
        align-self:flex-start;
        color:white;
        background-color:#3882f6;
        width:100px;
        height:25px;
        border-radius:10px;
        border:1px solid #3882f6;
        margin-top:-05px;

    }
/*First Section */

/*Second section with cards*/
.section-two{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding-bottom:50px;
    margin-top:20px;
}
    .cards{
        display:flex;
        justify-content:center;
        gap:45px;

    }
    .card {
        text-align:center;
        display:flex;
        flex-wrap:wrap;
        align-content:center;
        justify-content:center;
        width:135px;
    }

.image-border{
    display:flex;
    align-items:center;
    justify-content:center;
    border:04px solid #3882f6;
    border-radius:15px;
    height:135px;
    width:135px;
}

.info-header{
    font-size:36px;
    font-weight:900;
    margin-bottom:40px;
}

.card p {
    color:rgba(37, 25, 25, 0.643);
}
/*Second Section With Cards*/

/*Third Section*/
/*Maybe try this section using one container on each side of the content and then flex-grow:1 each container to see if I can use that to center the quote?  The margins look gross how it is currently when the window is narrow*/
.section-three{
    align-items:Center;
    display:flex;
    flex-direction:column;
    background:#E5E7EB;
    padding:75px 275px;
}

.quote{
font-weight:lighter;
font-size:32px;
font-style:italic;
}

.quote-cite{
align-self:flex-end;
font-weight:bold;    
margin-top:-20px;
font-size:20px;
}
/*Third Section*/

/*CTA Modal*/
.section-four{
    display:flex;
    justify-content:center;
    border:2px solid black;
}
.action-box{
    display:flex;
    justify-content:space-between;
    background:#3882f6;
    align-items:center;
    height:100px;
    width:600px;
    border-radius:4px;
    padding:10px 25px;
}
    .action-box-left{
        display:flex;
        flex-direction:column;
        color:white;
    }
        .action-call{
            font-size:18px;
            font-weight:bold;
        }
        .action-subtext{
            font-size:14px;
            font-weight:lighter;
        }
    

/*CTA Modal*/
