body {
    display:flex;
    flex-direction:column;
}

.header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#1F2937;
    padding:0px 50px;
}

.logo {
    font-size:24px;
    color:#f9faf8;
}